In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
X = data.iloc[:,3:13].values
Y = data.iloc[:,13].values

In [8]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
X[:,1] = le.fit_transform(X[:,1])

le2 = preprocessing.LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ohe = ColumnTransformer([("ohe", OneHotEncoder(dtype=float),[1])],remainder="passthrough")
X = ohe.fit_transform(X)
X = X[:,1:]

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.33,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [12]:
X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [17]:
classifier = Sequential()

classifier.add(Dense(6, kernel_initializer = 'uniform', activation = 'relu' , input_dim = 11))
classifier.add(Dense(6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(1, kernel_initializer = 'uniform', activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

classifier.fit(X_train,y_train,epochs = 50)

Epoch 1/50
210/210 [==============================] - 1s 1ms/step - loss: 0.6658 - accuracy: 0.7960
Epoch 2/50
210/210 [==============================] - 0s 1ms/step - loss: 0.6188 - accuracy: 0.7979
Epoch 3/50
210/210 [==============================] - 0s 1ms/step - loss: 0.5770 - accuracy: 0.8112
Epoch 4/50
210/210 [==============================] - 0s 2ms/step - loss: 0.5403 - accuracy: 0.8201
Epoch 5/50
210/210 [==============================] - 0s 2ms/step - loss: 0.5161 - accuracy: 0.8209
Epoch 6/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4988 - accuracy: 0.8219
Epoch 7/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4866 - accuracy: 0.8224
Epoch 8/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4780 - accuracy: 0.8231
Epoch 9/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4717 - accuracy: 0.8236
Epoch 10/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4616 - accuracy: 0.8237
Epoch 11/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4489 - accuracy: 0.8230
Epoch 12/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4349 - accuracy: 0.8228
Epoch 13/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4230 - accuracy: 0.8222
Epoch 14/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4124 - accuracy: 0.8228
Epoch 15/50
210/210 [==============================] - 0s 1ms/step - loss: 0.4036 - accuracy: 0.8221
Epoch 16/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3973 - accuracy: 0.8224
Epoch 17/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3917 - accuracy: 0.8216
Epoch 18/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3877 - accuracy: 0.8231
Epoch 19/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3845 - accuracy: 0.8222
Epoch 20/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3806 - accuracy: 0.8224
Epoch 21/50
210/210 [==============================] - 0s 2ms/step - loss: 0.3779 - accuracy: 0.8230
Epoch 22/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3749 - accuracy: 0.8227
Epoch 23/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3732 - accuracy: 0.8234
Epoch 24/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3713 - accuracy: 0.8228
Epoch 25/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3696 - accuracy: 0.8228
Epoch 26/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3681 - accuracy: 0.8237
Epoch 27/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3669 - accuracy: 0.8236
Epoch 28/50
210/210 [==============================] - 0s 2ms/step - loss: 0.3659 - accuracy: 0.8231
Epoch 29/50
210/210 [==============================] - 0s 2ms/step - loss: 0.3646 - accuracy: 0.8234
Epoch 30/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3635 - accuracy: 0.8233
Epoch 31/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3627 - accuracy: 0.8227
Epoch 32/50
210/210 [==============================] - 0s 2ms/step - loss: 0.3622 - accuracy: 0.8225
Epoch 33/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3612 - accuracy: 0.8230
Epoch 34/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3608 - accuracy: 0.8333
Epoch 35/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3602 - accuracy: 0.8454
Epoch 36/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3596 - accuracy: 0.8469
Epoch 37/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3594 - accuracy: 0.8464
Epoch 38/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3592 - accuracy: 0.8476
Epoch 39/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3585 - accuracy: 0.8479
Epoch 40/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3580 - accuracy: 0.8482
Epoch 41/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3582 - accuracy: 0.8478
Epoch 42/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3575 - accuracy: 0.8475
Epoch 43/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3573 - accuracy: 0.8481
Epoch 44/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3574 - accuracy: 0.8487
Epoch 45/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3569 - accuracy: 0.8472
Epoch 46/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3565 - accuracy: 0.8487
Epoch 47/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8485
Epoch 48/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8493
Epoch 49/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8496
Epoch 50/50
210/210 [==============================] - 0s 1ms/step - loss: 0.3550 - accuracy: 0.8510

In [18]:
y_pred = classifier.predict(X_test)

y_pred = (y_pred > 0.5)

104/104 [==============================] - 0s 1ms/step

In [19]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,y_pred)
cm

array([[2481,  136],
       [ 370,  313]], dtype=int64)