In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

data = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [3]:
duzeltme = {'Y':1, 'N':0}
data['SuanCalisiyor?'] = data['SuanCalisiyor?'].map(duzeltme)
data['Top10 Universite?'] = data['Top10 Universite?'].map(duzeltme)
data['StajBizdeYaptimi?'] = data['StajBizdeYaptimi?'].map(duzeltme)
data['IseAlindi'] = data['IseAlindi'].map(duzeltme)

duzeltme_egitim = {'BS':0, 'MS':1, 'PhD': 2}
data['Egitim Seviyesi'] = data['Egitim Seviyesi'].map(duzeltme_egitim)

In [4]:
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [5]:
y = data['IseAlindi']
x = data.drop(['IseAlindi'], axis=1)

In [7]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [8]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

In [12]:
print(clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

C:\Users\alpnn\AppData\Local\anaconda3\envs\alp\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [13]:
print(clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]

C:\Users\alpnn\AppData\Local\anaconda3\envs\alp\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [14]:
print (clf.predict([[2, 1, 7, 0, 0, 0]]))

[1]

C:\Users\alpnn\AppData\Local\anaconda3\envs\alp\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [15]:
print (clf.predict([[20, 0, 5, 1, 1, 1]]))

[1]

C:\Users\alpnn\AppData\Local\anaconda3\envs\alp\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(